[class*="zocial-"]:before {
	color: black;
	display: inline-block;
	font-family: 'zocial', sans-serif;
	text-shadow: 3px 3px 3px #aaa;
	width: 2em;
}

a:hover [class*="zocial-"]:before {
 	color: #3d85c6;
}

* {
	border-left: 5px;
	border-right: 5px;
	max-width: 1140px;
	margin: auto;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #747704;
}

hr {
	border-width: 5px;
}

footer {
	margin-bottom: 10px;
}

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 300;
}

.title-super {
	font-size: 60px;
	text-align: right;
	text-transform: uppercase;
}

.title-row {
	margin-top: 20px;
}

.subtitle {
	font-size: 40px;
	text-transform: uppercase;
}

.sub-image {
	width: calc((100vw - 20) / 3);
}

