* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-left: 5px;
	border-right: 5px;
	max-width: 1140px;
	margin: auto;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #747704;
}

hr {
	border-width: 5px;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 300;
}

.title-super {
	font-size: 60px;
	text-align: right;
	text-transform: uppercase;
}

.title-row {
	margin-top: 20px;
}

.subtitle {
	font-size: 40px;
	text-transform: uppercase;
}

.sub-image {
	width: calc((100vw - 20) / 3);
}

